body {
	font-family: Arial, sans-serif;
	padding: 0px;
	margin: 0px;
}
img {
	border: none;
}
h1 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 60px;
}
h2 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 40px;
}
h3 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
}
a {
	font-size: 12px;
}
ul.menu {
	
	list-style-type: none;
}
img.prodImage {
	margin: 15px;
	height: 125px;
}
img#imgLeft {
	height: 100px;
}
img#imgRight {
	height: 100px;
}
li.menu {
	padding: 15px;
	text-align: center;
	display: inline;
}
a.menu {
	padding: 5px;
	padding-left: 2em;
	padding-right: 2em;
	text-decoration: none;
}
div#bannerAd {
	margin: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	padding: 15px;
	background: #DFDFCB;
	border: solid;
	border-width: thin;
	border-color: black;
}
div.header {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #DFDFCB;
	color: #88AF19;
}
div.footer {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #DFDFCB;
	color: #88AF19;
	font-size: 12px;
}
div.body {
	width: 100%;
	padding: 30px;
	background: white;
}
div.wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
div.browserBlack {
	color: white;
	background: black;
	margin: 30px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}
div.browserWhite {
	color: black;
	background: white;
	margin: 30px;
	width: 650px;
	border: solid;
	border-width: thin;
	border-color: black;
	margin-left: auto;
	margin-right: auto;
}
#footer {
	text-align: center;
	padding: 15px;
}
#searchBox {
	position: absolute;
	right: 60px;
	top: 30px;
}
#date {
	position: absolute;
	left: 60px;
	top: 30px;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 12px;
}